# Variables
* use to  store data values
* Must start with letters or underscore character
* Cannot start with number or special symbols
* It only contain alpha-numeric characters and underscores

In [1]:
a = 10
a

10

# Valid Variables

In [2]:
a = 10
a1 =10
a_1 = 10
_a_1 = 10
_a1 = 10
a_1_ = 10

# Invalid variables

In [ ]:
1a = 10 # inavalid
$a = 10
@a = 10
-a = 10
#a = 10
+a = 10

 # Data Types
 * numeric
   * int - int()
   * float - float()
   * complex - complex()
 * non numeric
   * str
   * bool - bool()
   * NonType

# Data Conversion
* Implicit Type Conversion
  * Automatic Conversion
* Explicit Type Conversion
  * Type Casting
  * Manual Type Conversion

In [2]:
a = 10
print(a)

10

In [3]:
a = 10
print(a, type(a))

10 <class 'int'>

In [4]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

# print()

In [6]:
a = 'Natasha'
b = "Kanojia"
c = '''I am a girl. And I am a working professional. I am learning Data Analytics with python from Digipodium'''

print(a, b, c)

Natasha Kanojia I am a girl. And I am a working professional. I am learning Data Analytics with python from Digipodium

In [7]:
a = 'Natasha'
b = "Kanojia"
c = '''I am a girl. 
And I am a working professional. 
I am learning Data Analytics with python from Digipodium'''
print(a)
print(b)
print(c)

Natasha
Kanojia
I am a girl.
And I am a working professional.
I am learning Data Analytics with python from Digipodium

In [8]:
a = 'Natasha'
b = "Kanojia"
c = '''I am a girl. And I am a working professional. I am learning Data Analytics with python from Digipodium'''
print(a)
print(b)
print(c)

Natasha
Kanojia
I am a girl. And I am a working professional. I am learning Data Analytics with python from Digipodium

In [10]:
a = 'Natasha'
b = "Kanojia"
c = '''I am a girl. 
And I am a working professional. 
I am learning Data Analytics with python from Digipodium'''
print(a, b, c)

Natasha Kanojia I am a girl.
And I am a working professional.
I am learning Data Analytics with python from Digipodium

In [11]:
a = 'Natasha'
b = "Kanojia"
c = '''I am a girl. 
And I am a working professional. 
I am learning Data Analytics with python from Digipodium'''
print(a, b, end = " ")

Natasha Kanojia

In [12]:
a = 'Natasha'
b = "Kanojia"
c = '''I am a girl. 
And I am a working professional. 
I am learning Data Analytics with python from Digipodium'''
print(a, end = " ")

Natasha

In [13]:
a = 'Natasha'
b = "Kanojia"
c = '''I am a girl. 
And I am a working professional. 
I am learning Data Analytics with python from Digipodium'''
print(b, end = " ")

Kanojia

In [14]:
a = 'Natasha'
b = "Kanojia"
c = '''I am a girl. 
And I am a working professional. 
I am learning Data Analytics with python from Digipodium'''
print(a, end = ' ')

Natasha

In [15]:
a = 'Natasha'
b = "Kanojia"
c = '''I am a girl. 
And I am a working professional. 
I am learning Data Analytics with python from Digipodium'''
print(a, b, c, end = " " )

Natasha Kanojia I am a girl.
And I am a working professional.
I am learning Data Analytics with python from Digipodium

In [1]:
a = 'Natasha'
b = "Kanojia"
c = '''I am a girl. 
And I am a working professional. 
I am learning Data Analytics with python from Digipodium'''
print(a,b)

Natasha Kanojia

In [17]:
a = 'Natasha'
b = "Kanojia"
c = '''I am a girl. And I am a working professional. I am learning Data Analytics with python from Digipodium'''
print(a, b, c, end = " ") #end = " " is use when we want to print answer in single line

Natasha Kanojia I am a girl. And I am a working professional. I am learning Data Analytics with python from Digipodium

In [22]:
a = 10
b = 20
c = 30
d = 40
print (a, b, c, d, end = '#')

10 20 30 40#

In [19]:
a = 10
b = 20
c = 30
d = 40
print(a, b)

10 20

In [23]:
a = 10
b = 20
c = 30
d = 40
print(a, end = "")
print (b, c, d)

1020 30 40

In [24]:
a = 10
b = 20
c = 30
d = 40
print(a, end =" ")
print (b)
print (c)
print (d)

10 20
30
40

In [25]:
a = 10
b = 20
c = 30
d = 40
print (a, end = " ")
print (b, end = "")
print (c, end = " ")
print (d)

10 2030 40

In [2]:
a = 10
b = 20.5
c = -30
d = 40j
print(a, type(a), end = " ")
print(b, type(b), end = " ")
print(c, type(c), end = " ")
print(d, type(d), end = " ")

10 <class 'int'> 20.5 <class 'float'> -30 <class 'int'> 40j <class 'complex'>

In [7]:
print("welcome","to", "Digipodium", sep = "\n")

welcome
to
Digipodium

# input()
  * input()= return a sting

In [9]:
# taking input from user
name = input("Enter the name: ")
print ("Hello", name)
print(type(name))

Hello Natasha
<class 'str'>

In [4]:
# taking input from user as integer
num = int(input("Enter the number: "))
print(num, type(num))

10 <class 'int'>

In [10]:
# taking input from user as integer
num = (input("Enter the number: "))
print(num, type(num))

20 <class 'str'>

In [11]:
# taking input from user as integer
num = (input("Enter the number: "))
print(num, type(num))
num = num+10
print(num)

20 <class 'str'>

TypeError: can only concatenate str (not "int") to str

In [12]:
# taking input from user as integer
num = int(input("Enter the number: "))
print(num, type(num))
num = num+10
print(num)

20 <class 'int'>
30